@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

header {
	top: 0;
	height: 130px;
	line-height: 130px;
	width: 100%;
	background: #F7D358;
	text-align: center;
	font-size: 35px;
	font-weight: 900;
	color: black;
}

nav ul {
	height: 50px;
	line-height: 50px;
	width: 100%;
	background: #F7BE81;
	overflow: hidden;
}

nav ul li {
	float: left;
	list-style: none;
	padding: 0 10px;
}

section {
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 100%;
	background: #fff;
}

.title{
	margin-top: 5px;
	text-align: center;
	font-size: 25px;
}

pre {
	font-size: 20px;
}

.wrapper {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

table {
	margin-top: 20px;
	width: 600px;
}

table, tr, th, td {
	border: 1px solid black;
}

.btn{
	padding: 0.2rem 1rem;
}

td input{
	float: left;
	padding: 0.3rem;
}

select {
	float: left;
	padding: 0.3rem;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #F7D358;
	color: black;
}